@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
html,body{
    height: 100%;
}
body{
    background-color: #f4f4f4;
}
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 15px;
    z-index: 9999;
}
.menu_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.menu_con{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header{
    min-height: 700px;
    background-image: url('../img/thumbs_b_c_cb45547d44c6ec4f4c1f11e72d4f3422.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    /* background-color: rgba(0, 0, 0, .7); */
}
header::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(3px);
}
.contact-item{
    display: flex;
    align-items: center;
}
.contact-item a{
    color: #fff;
    text-decoration: none;
}
.contact-item .icon_box{
    font-size: 20px;
    background-color: #161c28;
    color: #9ba2b0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.logo{
    height: 67px;
}
.flag{
    width: 23px;
}
.current_lang{
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    padding: 4px 6px;
    background-color: #161c28;
    border-radius: 5px;
}
.langs .flag{
    margin-right: 5px;
}
.langs{
    position: relative;
    user-select: none;
}
.langs_list{
    position: absolute;
    right: 0;
    top: 36px;
    width: fit-content;
    border-radius: 5px;
    overflow: hidden;
}
.langs_val{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    padding: 8px 10px;
    background-color: #161c28;
    text-transform: uppercase;
    cursor: pointer;
}
.langs_val:hover{
    opacity: .8;
}

.menu_bot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 12px;
}
.li{
    display: flex;
}
.link_el{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    position: relative;
    border-right: 1px solid #e3e0e0;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}
.link_el:hover{
    background-color: #90c5ee31;
}
.link_active::after{
    content: "";
    width: 50%;
    height: 4px;
    position: absolute;
    bottom: -2px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1d9cfb;
}
.link_el:last-child{
    border: none;
}
.link_active{
    color: #1d9cfb;
}
.btn_box{
    padding: 0 30px;
}
.donate{
    background-color: #00b964;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: all .25s ease;
    font-weight: 700;
}
.donate:hover{
    background-color: #10a760;
    box-shadow: 0 0 6px 1px #06874b94;
}

.middle{
    display: flex;
    gap: 40px;
}
.menu_right{
    display: flex;
    align-items: center;
}
.menu_right i{
    font-size: 26px;
    cursor: pointer;
}
.menu_right i:not(:last-child){
    margin-right: 12px;
}
.bxl-youtube{
    color: #ff0000;
}
.bxl-twitter{
    color: #1c93e4;
}
.bxl-telegram{
    color: #31a8de;
}
.inst{
    width: 22px;
    height: 22px;
    margin-right: 12px;
    cursor: pointer;
}
.tel em{
    font-style: normal;
    color: #898991;
}
.head_container{
    position: relative;
    z-index: 10;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 230px;
}
header{
    color: #fff;
}
header em{
    font-style: normal;
    color: #219bee;
}
.zag{
    text-align: center;
    margin-bottom: 30px;
}
header p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.head_mid{
    font-size: 22px;
    font-weight: bold;
    color: #fbcf00;
    text-align: center;
    margin-bottom: 40px;
}
.flex_center{
    display: flex;
    justify-content: center;
}
.big_btn{
    height: 60px;
    max-width: 320px;
    width: 100%;
    background-color: #00b964;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all .25s ease;
}
.big_btn:hover{
    background-color: #10a760;
    box-shadow: 0 0 6px 1px #06874b94;
}
.boxes{
    position: absolute;
    z-index: 10;
    width: 100%;
    top: -80px;
    padding: 0 15px;
    left: 0;
}
.boxes_content{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.box_body{
    width: 33.3%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;
}
.box_body::after{
    content: "";
    width: 50%;
    height: 4px;
    position: absolute;
    bottom: -2px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1d9cfb;
}
.box_icon{
    background-color: #1d9cfb;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -40px;
    animation: icon 2s infinite alternate;
}
@keyframes icon {
    from{
        box-shadow: 0 0 10px 0px #1d9bfb72;
    }
    to{
        box-shadow: 0 0 10px 8px #1d9bfb72;
    }
}
.box_icon i{
    font-size: 38px;
}
.box_text{
    color: #333;
    text-align: center;
    line-height: 162%;
    letter-spacing: 0.25px;
}

/*  */

main{
    padding-top: 200px;
    position: relative;
}
.about_sec{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
}
.main_zag{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.team{
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 594px;
    border-radius: 12px;
}
.mini{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.team_desc{
    background: rgba(55,61,77,0.8);
    margin-top: -130px;
    position: relative;
    padding-left: 160px;
    padding-top: 60px;
    padding-bottom: 80px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
    backdrop-filter: blur(20px);
}
.team_desc h1{
    margin-bottom: 30px;
    font-size: 48px;
}
.team_desc p{
    max-width: 632px;
    line-height: 162%;
    letter-spacing: 0.25px;
}
.bg_box{
    background-image: url('../img/318203213_750462809739753_2206080720014437870_n.jpg');
    height: 540px;
    background-position: 0px -300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.small_box_text{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: -130px;
    background-color: #f4f4f4;
    line-height: 162%;
    letter-spacing: 0.25px;
    padding-left: 74px;
    padding-top: 67px;
    padding-right: 104px;
}
/*  */

.project_sec{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 15px;
}
.projects_row{
    display: flex;
    gap: 30px;
}
.project_item{
    background: linear-gradient(360deg, #fff 0%, rgba(255,255,255,0) 116.25%);
    border: 1px solid #FFFFFF;
    padding-bottom: 20px;
    width: 33.3%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}
.project_item img{
    width: 100%;
    margin-bottom: 10px;
}
.boxes_project{
    margin-bottom: 60px;
    margin-top: 100px;
}
.proj_title{
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
.proj_title em{
    font-style: normal;
    color: #1c93e4;
}
.project_desc{
    margin-bottom: 15px;
    text-align: center;
}
.proj_con{
    padding: 30px;
    padding-top: 0;
    line-height: 162%;
    letter-spacing: 0.25px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.help_sec{
    margin-bottom: 50px;
}
.help_cont{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.help_text{
    text-align: center;
    font-size: 20px;
    line-height: 162%;
    letter-spacing: 0.25px;
    margin-bottom: 30px;
    padding: 0 15px;
}
.help_text em{
    font-style: normal;
    color: #0da0ff;
}
/*  */

footer{
    color: #cdd5e0;
    background-color: #1f2734;
    border-bottom: 2px solid #229dfb;
}
.footer_top{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.footer_bot{
    background-color: #161c28;
}
.f_top{
    padding: 40px 15px;
    border-bottom: 1px solid #2c3240;
    display: flex;
    font-size: 14px;
}
.f_big{
    color: #0da0ff;
    font-weight: bold;
    font-size: 28px;
}
.f_bot{
    padding: 40px 15px;
    display: flex;
    justify-content: space-between;
}
.f_bot_cont{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 15px;
    font-size: 14px;
    text-align: right;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.a_row .a{
    min-width: 200px;
    cursor: pointer;
}
.a_row .a:hover{
    opacity: .7;
}
.a_row{
    display: flex;
}
.fot_btn{
    margin-left: 50px;
    height: 44px;
    width: fit-content;
    padding: 0 40px;
    font-size: 14px;
}
footer .contact-item a{
    color: #cdd5e0;
}
.fot_logo{
    justify-self: flex-end;
    margin-left: auto;
}
/*  */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px !important;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/*  */

.gofund{
    position: fixed;
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    right: 0;
    z-index: 999999999;
    display: flex;
    align-items: center;
    background-color: #fff;
    transition: all .3s ease;
    padding: 30px;
    box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 20%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
}
.go_logo{
    transform: rotate(270deg) translateX(25px);
    padding: 5px;
    padding-top: 10px;
    padding-right: 8px;
    background-color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    cursor: pointer;
    position: absolute;
    left: -104px;
    top: 50%;
    box-shadow: 0 -5px 5px -3px rgb(0 0 0 / 20%), -5px 0 5px -3px rgb(0 0 0 / 20%), 5px 0 5px -3px rgb(0 0 0 / 20%);
}
.go_img{
    height: 40px;
}
/* .go_box{
    background-color: #fff;
    position: relative;
    width: calc(100%);
    max-width: 350px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: all .3s ease;
    padding: 30px;
    box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 20%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.45;
    transform: translateX(100%);
} */
.gofund em{
    color: #0da0ff;
    font-style: normal;
}
.go_opened{
    transform: translateX(0) translateY(-50%);
}
.go_text a{
    color: #0da0ff;
    text-decoration: none;
}
.go_text a:hover{
    text-decoration: underline;
}
.circle_logo img{
    height: 100px;
}
.go_text{
    margin-bottom: 20px;
}
/*  */
.menu_mobile{
    background-color: #fff;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.2s ease-in-out;
  }
  
  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.2s ease-in-out;
  }
  .hamburger-lines .line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 20px;
    background: #1d9cfb;
  }
  .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .mobile_open .line1{
    transform: rotate(45deg);
  }
  .mobile_open .line3{
    transform: rotate(-45deg);
  }
  .mobile_open .line2{
    transform: scale(0);
  }
  .mob_don,.langs{
    margin-right: 20px;
  }
  .other{
    display: flex;
    align-items: center;
  }
/*  */

.mobile_content{
    position: fixed;
    left: 1000px;
    top: 77px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    transition: all .3s ease;
}
.cont_open{
    left: 0;
}
/*  */
@media(max-width:970px){
    /* .boxes{
        bottom: -130px;
    } */
}
@media(max-width:900px){
    .menu{
        padding: 0;
    }
    .menu_con{
        display: none;
    }
    .menu_mobile{
        display: flex !important;
    }
    .boxes{
        bottom: -150px;
    }
    .li{
        flex-direction: column;
        align-items: center;
    }
    .li .link_el{
        border: none;
    }
    .link_active::after{
        bottom: 5px;
    }
    .mob_mt{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .icon_box{
        width: 25px !important;
        height: 25px !important;
        font-size: 18px !important;
    }
    .contact-item{
        margin-bottom: 20px;
    }
    .contact-item a{
        color: #000;
    }
    .head_container{
        padding-top: 150px;
    }
    .menu_right {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
@media(max-width:700px){
    .head_container{
        text-align: center;
    }
    .boxes{
        position: relative;
    }
    main{
        padding-top: 0;
    }
    .boxes_content{
        flex-direction: column;
        gap: 60px;
    }
    .box_body{
        width: 100%;
    }
    .about_sec{
        padding: 0 10px;
    }
    .team_desc{
        padding-left: 50px;
    }
    .projects_row{
        flex-direction: column;
    }
    .project_item{
        width: 100%;
    }
    .f_top{
        flex-direction: column;
        align-items: center;
    }
    .bg_box{
        background-position: 0px -200px;
    }
    .bg_box{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .small_box_text{
        margin-top: -245px;
        width: 90%;
        padding-left: 44px;
        padding-right: 74px;
    }
    /* .swiper-slide{
        min-width: 350px;
    } */
    .team_desc{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .fot_logo{
        margin: 0 auto;
    }
    .fot_btn{
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .f_bot{
        flex-direction: column;
        align-items: center;
    }
    .a_row{
        flex-direction: column;
        align-items: center;
    }
    .a{
        text-align: center;
        margin-bottom: 15px;
    }
    .links{
        gap: 0;
    }
    .middle{
        flex-direction: column;
        align-items: center;
    }
    footer .middle{
        gap: 0;
    }
    footer .contact-item{
        margin-bottom: 15px;
    }
    .project_sec .boxes_content{
        gap: 70px;
    }

}
@media(max-width:550px){
    .other .donate{
        display: none;
    }
    .team_desc{
        padding-left: 30px;
        padding-right: 20px;
    }
    body{
        font-size: 14px;
    }
    .gofund{
        max-width: 330px;
    }
    .boxes{
        padding: 0;
        top: -40px;
    }
    .bg_box{
        background-position: -107px -200px;
    }
    .swiper-slide video{
        height: 200px;
    }
    .f_text,.f_bot_cont{
        text-align: center;
    }
    .small_box_text{
        margin-top: -320px;
    }
    .head_container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .go_img{
        height: 20px;
        
    }
    .go_logo{
        left: -57px;
    }
    .logo{
        height: 60px;
    }
    .mobile_content{
        top: 70px;
    }
    .swiper-slide{
        height: 200px !important;
    }
    .help_text{
        font-size: 16px;
    }
    .small_mobile{
        display: flex !important;
        margin: 0;
        margin: 20px 0;
        margin-bottom: 0;
    }
}
.box_body .bx{
    color: #fff !important;
}
